.LoginFormContainer {
    border-style: solid;
    border-color: #000000;
    margin: 10px;
    padding: 5px;

    background-color: #dddddd;
}

.LoginForm {
    display: flex;
    flex-direction: column;
}

.ErrorMessage {
    color: red;
}