table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.AllRoundsContainer {
    padding: 10px;
}

.RoundTableContainer {
    padding: 5px;
}

.RoundTable {
    width: 100%;
}

.LogoutButton {
    margin: 10px;
    float: right;
}